@media screen and (max-width: 860px) and (orientation: portrait){
  .sidebar{
    display: none;
  }
  body.wrapper section.container .footer{
        position: relative;
        bottom: 0;
      }
  html {
     .wrapper{
      background: #fff;

      h1{ font-size: 2rem; margin: 10px 0; }
      h2{ font-size: 1.5rem; margin: 15px 0; }
     
       .content{
         flex-flow:row wrap;
         height:100%;

       }

  }


      body .block{
        height: auto;
        align-items: flex-start;
        padding-top: 15px;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        position: relative;
       flex:1;
       -webkit-flex:1;
       text-align:center;
       min-width: calc(100vw);
       

       &.footer{
          padding: 5px 10px;
          position: relative;
          bottom: 0;
       }

        &:first-child {
          -webkit-transform: none;
          -ms-transform: none;
          transform: none;
        }
        &:first-child .sl-content {
          -webkit-transform:  none;
          -ms-transform: none;
          transform: none;
        }

      .sl-content{
        height: auto;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        overflow-y: auto;
        margin: 10px 0;
        margin-bottom: 50px;

        .description{
          animation-name: stretch;
          animation-duration: 1.2s; 
          animation-timing-function: ease-out; 
          animation-delay: 0;
          animation-iteration-count: 1;
          animation-fill-mode: both;
          animation-play-state: running;
        }
      }
      &:last-child .sl-content{
          width: 85%;
        }
      .logo{
        max-width: 90%;
      }
      .description{
        max-width: 90%;
      }
    }
  }
 
  .right {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      height: 100%;
      background: rgba(255,255,255,.1);
      position: absolute;
      right: 0;
      top: 0;
      width: 30px;

    &.last{
      display: none;
    }

   &:after{
      content: "\f061";
      position: absolute;
      right: 25%;
      top: 40%;
      width: 20px;
      height: 40px;
      margin: 0 auto;
      background-size: contain;
      color: #fff;
      font-size: 2em;
    }
  }
}

.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}
.animated.fadeInDown {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@keyframes fadeInDown{
  0% {
      opacity: 0;
      transform: translateY(-20px);
    }
  100% {
      opacity: 1;
      transform: translateY(0);
   }
}

@keyframes stretch{
  0% { transform: scale(.3); }
  100% { transform: scale(1); }
}

@media screen and (max-width: 920px) and (min-width: 860px){
  body.wrapper section.sidebar nav.nav-main ul li {
      padding: .6rem 0 .6rem 1rem;
    }
}

@media screen and (max-width: 860px) and (orientation: landscape){
  .sidebar{
    display: none;
  }

  body.wrapper section.container .footer{
        position: relative;
        bottom: 0;
      }
  
  html {
     .wrapper{
      background: #fff;

      h1{ font-size: 2rem; margin: 10px 0; }
      h2{ font-size: 1.5rem; margin: 15px 0; }
     
       .content{
         flex-flow:row wrap;
         height:100%;

       }
       
     }


      body .block{
        height: auto;
        align-items: flex-start;
        padding-top: 15px;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        position: relative;
       flex:1;
       -webkit-flex:1;
       text-align:center;
       min-width: calc(100vw);
       

       &.footer{
          padding: 5px 10px;
          position: relative;
          bottom: 0;
       }

        &:first-child {
          -webkit-transform: none;
          -ms-transform: none;
          transform: none;
        }
        &:first-child .sl-content {
          -webkit-transform:  none;
          -ms-transform: none;
          transform: none;
        }

      .sl-content{
        height: auto;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        overflow-y: auto;
        margin: 10px 0;
        margin-bottom: 50px;

        .description{
          animation-name: stretch;
          animation-duration: 1.2s; 
          animation-timing-function: ease-out; 
          animation-delay: 0;
          animation-iteration-count: 1;
          animation-fill-mode: both;
          animation-play-state: running;
        }
      }
      &:last-child .sl-content{
          width: 85%;
        }
      .logo{
        max-width: 90%;
      }
      .description{
        max-width: 90%;
      }
    }
  }
 
  .right {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      height: 100%;
      background: rgba(255,255,255,.1);
      position: absolute;
      right: 0;
      top: 0;
      width: 30px;

    &.last{
      display: none;
    }

   &:after{
      content: "\f061";
      position: absolute;
      right: 25%;
      top: 40%;
      width: 20px;
      height: 40px;
      margin: 0 auto;
      background-size: contain;
      color: #fff;
      font-size: 2em;
    }
  }
}

