doctype html
html(lang="en")
	head
	meta(charset='utf-8')
	meta(http-equiv='Content-type', content='text/html')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0')
	title Internet in the real time
	link(rel='stylesheet', href='./css/style.min.css', type='text/css')
	link(rel='stylesheet',href='./css/font-awesome/css/font-awesome.min.css')

	body.wrapper
		section.container
			div.content
				div.block#link-1
					div#block_item_1.sl-content
						div.logo
							i.fa.fa-apple
						div.description
							h1 Internet in real time
							h2 Heading 1 layer - slide 1
							span.block-data(data-count = "91.96" data-roundup="true")
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel congue urna. Aenean quis lectus libero. Aenean volutpat varius euismod. Maecenas iaculis dictum quam at blandit. Aliquam erat volutpat. Phasellus nibh sem, facilisis eget mollis a, sollicitudin eu libero
							div.sharethis-inline-share-buttons
					div.arrow.bounce.down
					
				div.block#link-2
					div#block_item_2.sl-content
						div.logo
							i.fa.fa-apple
						div.description
							h2 Heading 1 layer - slide 2
							span.block-data(data-count = "91.96" data-roundup="true")
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel congue urna. Aenean quis lectus libero. Aenean volutpat varius euismod. Maecenas iaculis dictum quam at blandit. Aliquam erat volutpat. Phasellus nibh sem, facilisis eget mollis a, sollicitudin eu libero
							div.sharethis-inline-share-buttons
					div.arrow.bounce.down

				div.block#link-3				
					div#block_item_3.sl-content
						div.logo
							i.fa.fa-apple
						div.description
							h2 Heading 1 layer - slide 3
							span.block-data(data-count = "91.96" data-roundup="true")
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel congue urna. Aenean quis lectus libero. Aenean volutpat varius euismod. Maecenas iaculis dictum quam at blandit. Aliquam erat volutpat. Phasellus nibh sem, facilisis eget mollis a, sollicitudin eu libero
							div.sharethis-inline-share-buttons
					div.arrow.bounce.down

				div.block#link-4
					div#block_item_4.sl-content
						div.logo
							i.fa.fa-apple
						div.description
							h2 Heading 1 layer - slide 4
							span.block-data(data-count = "91.96" data-roundup="true")
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel congue urna. Aenean quis lectus libero. Aenean volutpat varius euismod. Maecenas iaculis dictum quam at blandit. Aliquam erat volutpat. Phasellus nibh sem, facilisis eget mollis a, sollicitudin eu libero
							div.sharethis-inline-share-buttons
						div.arrow.bounce.down

				div.block#link-5
					div#block_item_5.sl-content
						div.logo
							i.fa.fa-apple
						div.description
							h2 Heading 1 layer - slide 5
							span.block-data(data-count = "91.96" data-roundup="true")
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel congue urna. Aenean quis lectus libero. Aenean volutpat varius euismod. Maecenas iaculis dictum quam at blandit. Aliquam erat volutpat. Phasellus nibh sem, facilisis eget mollis a, sollicitudin eu libero
							div.sharethis-inline-share-buttons
					div.arrow.bounce.down

				div.block#link-6
					div#block_item_6.sl-content
						div.logo
							i.fa.fa-apple
						div.description
							h2 Heading 1 layer - slide 6
							span.block-data(data-count = "91.96" data-roundup="true")
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel congue urna. Aenean quis lectus libero. Aenean volutpat varius euismod. Maecenas iaculis dictum quam at blandit. Aliquam erat volutpat. Phasellus nibh sem, facilisis eget mollis a, sollicitudin eu libero
							div.sharethis-inline-share-buttons
					div.arrow.bounce.down

				div.block#link-7
					div#block_item_7.sl-content
						div.logo
							i.fa.fa-apple
						div.description
							h2 Heading 1 layer - slide 7
							span.block-data(data-count = "91.96" data-roundup="true")
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel congue urna. Aenean quis lectus libero. Aenean volutpat varius euismod. Maecenas iaculis dictum quam at blandit. Aliquam erat volutpat. Phasellus nibh sem, facilisis eget mollis a, sollicitudin eu libero
							div.sharethis-inline-share-buttons
					div.arrow.bounce.down

				div.block#link-8
					div#block_item_8.sl-content
						div.logo
							i.fa.fa-apple
						div.description
							h2 Heading 1 layer - slide 8
							span.block-data(data-count = "91.96" data-roundup="true")
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel congue urna. Aenean quis lectus libero. Aenean volutpat varius euismod. Maecenas iaculis dictum quam at blandit. Aliquam erat volutpat. Phasellus nibh sem, facilisis eget mollis a, sollicitudin eu libero
							div.sharethis-inline-share-buttons
					div.arrow.bounce.down

				div.block#link-9
					div#block_item_9.sl-content
						div.logo
							i.fa.fa-apple
						div.description
							h2 Heading 1 layer - slide 9
							span.block-data(data-count = "91.96" data-roundup="true")
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel congue urna. Aenean quis lectus libero. Aenean volutpat varius euismod. Maecenas iaculis dictum quam at blandit. Aliquam erat volutpat. Phasellus nibh sem, facilisis eget mollis a, sollicitudin eu libero
							div.sharethis-inline-share-buttons
					div.arrow.bounce.down

				div.block#link-10
					div#block_item_10.sl-content
						div.logo
							i.fa.fa-apple
						div.description
							h2 Heading 1 layer - slide 10
							span.block-data(data-count = "91.96" data-roundup="true")
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel congue urna. Aenean quis lectus libero. Aenean volutpat varius euismod. Maecenas iaculis dictum quam at blandit. Aliquam erat volutpat. Phasellus nibh sem, facilisis eget mollis a, sollicitudin eu libero
							div.sharethis-inline-share-buttons
					div.arrow.bounce.down

				div.block#link-11
					div#block_item_11.sl-content
						div.logo
							i.fa.fa-apple
						div.description
							h2 Heading 1 layer - slide 11
							span.block-data(data-count = "91.96" data-roundup="true")
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel congue urna. Aenean quis lectus libero. Aenean volutpat varius euismod. Maecenas iaculis dictum quam at blandit. Aliquam erat volutpat. Phasellus nibh sem, facilisis eget mollis a, sollicitudin eu libero
							div.sharethis-inline-share-buttons
					div.arrow.bounce.down

				div.block#link-12
					div#block_item_12.sl-content
						div.logo
							i.fa.fa-apple
						div.description
							h2 Heading 1 layer - slide 12
							span.block-data(data-count = "91.96" data-roundup="true")
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel congue urna. Aenean quis lectus libero. Aenean volutpat varius euismod. Maecenas iaculis dictum quam at blandit. Aliquam erat volutpat. Phasellus nibh sem, facilisis eget mollis a, sollicitudin eu libero
							div.sharethis-inline-share-buttons
					div.arrow.bounce.last

					footer.footer
						div.sharethis-inline-share-buttons
						div.copyright
							p 2017 All Rights Reerved	
				div.clear

			
		section.sidebar
			nav.nav-main
				ul
					li.arrow-icon.left
						a(href="#link-1") First slide 1
					li.arrow-icon.left
						a(href="#link-2") Second slide 2
					li.arrow-icon.left
						a(href="#link-3") Third slide 3
					li.arrow-icon.left
						a(href="#link-4") First slide 4
					li.arrow-icon.left
						a(href="#link-5") Second slide 5
					li.arrow-icon.left 
						a(href="#link-6") Third slide 6
					li.arrow-icon.left 
						a(href="#link-7") First slide 7
					li.arrow-icon.left 
						a(href="#link-8") Second slide 8
					li.arrow-icon.left 
						a(href="#link-9") Third slide 9
					li.arrow-icon.left 
						a(href="#link-10") First slide 10
					li.arrow-icon.left 
						a(href="#link-10") First slide 11
					li.arrow-icon.left 
						a(href="#link-10") First slide 12
	
		script(src='./js/bundle.min.js')
		script(src='//platform-api.sharethis.com/js/sharethis.js#property=58d8c5bc977f960011fb2846&product=inline-share-buttons')